<!DOCTYPE html>
<html>
    <head>
        <title>ファイルで問題追加</title>
        <%# jqueryをURL経由で読み出している %>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    </head>
    <body>
        <%# これはコメントです。%>
        <%# socket.ioをパス経由で読み出している。%>
        <script src = '/socket.io/socket.io.js'></script>
        <h1>アップロードするファイルを選択してください。</h1>

        
        <input type="file" id="select" name="select" accept=".csv">

            <div>
            <input type="file" id = "upload" name="file" multiple draggable="true">
            </div>
        <div id = "err"></div>
        <ul id ="filename"></ul>
        <form name ="fo">
            <input type="submit" id="result" name="bu1" value="記録">
        </form>
        <script>
        var socket = io();
        var result = document.getElementById('result');
        var select = document.getElementById('select');
        var er = document.getElementById('err');
        var row = document.forms.fo;
        var fileData = null;
        var data = [];
        var syasin = 0;
        
            //ファイルが選択されたらファイルを読み込みファイル内容を２次元配列に格納している。
            select.addEventListener('change',function(e){
                fileData = e.target.files[0];
                var reader = new FileReader();
                reader.onerror = function(){
                alert('ファイル読み取りに失敗しました。');
                }
                reader.onload = function(){
                    var lineArr = reader.result.split("\n");
                    console.log(lineArr);

                    var itemArr = [];
                    for(var i = 0;i < lineArr.length-1;i++){
                    itemArr[i] = lineArr[i].split(",");
                    console.log(itemArr[i]);
                    }

                    for(var i = 0;i<itemArr.length;i++){
                        data[i] = [];
                    for(var j = 0;j <9;j++){
                       data[i][j] = itemArr[i][j];
                    }
                    console.log(data);
                    }
                    
                }
                reader.readAsText(fileData);
            },false);

            //写真が選択されたら写真のデータを読み取り写真名と拡張子をリストで表示する。
        $(function(){
            var fragment = "";
            
            $('#upload').change(function(){
                var file = $('#upload');
                for(let i = 0;i<2;i++){
                var files = $(this).prop('files')[i];
                console.log(files);
                fragment += "<li>" + files.name + "</li>";
                }
                 $("#filename").append(fragment);
            });


        });
        //記録ボタンが押されたら写真をサーバーに、ファイルデータをデータベースに保存する
        row.bu1.addEventListener('click',function(e){
            e.preventDefault();
            const files = $('#upload')[0].files;
                const formData = new FormData();
                for(let i = 0;i < files.length;i++){
                    formData.append('file',files[i]);
                }
                
                formData.append('hoge',123);

                $.ajax({
                    url: 'http://localhost:3000/upload',
                    method: 'post',
                    data: formData,
                    processData: false,
                    contentType: false
                }).done(function(res){
                    console.log(res);
                }).fail(function(err){
                    console.log(err);
                })
            if(fileData == null){
                er.innerHTML = "ファイルを選択してください。";
            }else{
                socket.emit('filedata',data);
            }
            
        })
        //成功したら完了ページを表示する。
        socket.on('kanryou',() =>{
            window.location.href='/kanryou';
        })
        //失敗したら失敗ページに飛ぶ。
        socket.on('miss',() =>{
            window.location.href ='/miss';
        })
    

        
        </script>
        </body>
    
</html>