<!DOCTYPE html>
<html lang ="ja">
    <head>
        <title>表示</title>
        <meta charset="utf-8">
        <style>
            .main{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <script src="/socket.io/socket.io.js"></script>
        <section class="main">
            <div class="container">
                <form name ="s1">
                <h1>受付中…</h1>
                <input type ="submit" name="modoru" value = "戻る" class="s"> 
                </form>
                
            </div>
        </section>
        <script>
            var socket = io();
            var f = document.forms.s1;

            var log = function(){
                window.location.href ='/h'
            }

            setInterval(log,3000);
            //ボタンが押されたらloginページに戻る。
            f.modoru.addEventListener('click',function(e){
                e.preventDefault();
                window.location.href='/login';
            })
        </script>
    </body>
    
</html>