<!DOCTYPE html>
<html lang ="ja">
    <head>
        <meta charset="utf-8">
        <title>回答</title>
        <style>
           .radiobutton {
                display: none;
             }
            label {
                 background-color: skyblue;
                    padding: 10px 20px;
                }
            .radiobutton:checked + label {
            background-color: pink;
            }
            .s{
                width: 100px;
                height: 50px;
            }
        </style>
    </head>
    <body>
        <script src ="/socket.io/socket.io.js"></script>
        <div id = myid2>
            <p><%= name %></p>
        </div>
        <br>
        <form name="myform1">
            <h1><%=web[0].mondaibun %></h1>
            <textarea name ="textarea1"></textarea>
            <input type="submit" id="kaitou1" name="kaitou1">
        </form>
        <script>
            var socket = io();
            var f = document.forms.myform1;
            var myname = document.getElementById("myid2");
            var m1 = myname.innerText;

            f.kaitou1.addEventListener('click',function(e){
                e.preventDefault();
                let checkvalue = f.textarea1.value;
                socket.emit('kiroku',m1,checkvalue);
            })

            socket.on('owari',function(){
                window.location.href ='/kaitou3';
            })
        </script>
    </body>
</html>

