<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset ="utf-8">
        <title>回答完了</title>
    </head>
    <body>
        <h1>回答完了</h1>
        <p>採点中です。しばらくお待ちください。</p>
    </body>
</html>