<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>クイズシステム</title>

    <style>
        p{
            text-align: center;
        }
        #abc{
            font-size: 100px;
        }
        
        .row{
            text-align: center;
        }
        body{
	        background-color:#EEFFFF;
            background-size: cover;
        }

        input select textarea{
          font-size: 100%;
        }
        #mondai{
          position: fixed; top:30%;left:10%
        }

    </style>
    <script type = text/javascript>
        function mode(){
            location.href = "mode.html"
        }
        function new_player(){
            location.href = "new_player.html"
        }
    </script>
</head>
<body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <p id="abc">クイズシステム</p><br>
    <div align="center">
         <table>
            <form name = "myform" action="/login">
                <div class="row">
                    <form class="col s12">
                      <div class="row">
                        <div class="input-field col s6">
                        <label for="userid">ユーザー名</label>
                          <input id="first_name" name="name" type="text" class="validate" minlength="2" maxlength="10" placeholder="ユーザー名を入力"
                          value="" size="20" style="font-size: 50px;">
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <label for="password">パスワード</label>
                          <input id="password" type="password" name="password1" class="validate" minlength="8" maxlength="16" placeholder="パスワードを入力"
                            value="" size="20" style="font-size: 50px;">
                        </div>
                      </div>
                      <!-- <div class="row">
                        <div class="input-field col s12">
                          <label for="password">　確　認　</label>
                          <input id="password" type="password" name="password2" class="validate" minlength="8" maxlength="16" placeholder="もう一度入力"
                          value="" size="20" style="font-size: 50px;">
                        </div>
                      </div> -->
                      <div class="row">
                      </div>
                  </div> 
                  <br>
                  <input type="submit" name="button" value="ログイン" class="s"></button>
            </form>
        </table>
        <div class = "s">
          <br>
          <button onclick="location.href='/new_player'">新規登録</button>
        </div>
    </div>
    <div class="container">
    <ul id="mondai"></ul><!--socketでメッセ表示するところ-->
    </div>

    <script>
      var socket = io();
      var f = document.forms.myform;
      var flug = 0;
      var mondai = document.getElementById('mondai');
      var item = document.createElement('h3');

      
      f.button.addEventListener('click',function(e){
        e.preventDefault();
        socket.emit('login_btnclick', f.name.value,f.password1.value);
      })

      socket.on('login_flug',function(flug,name){
      if(flug == 1) {
        window.location.href = 'mondai?name=' + encodeURIComponent(name);
      }else if(flug == 0){
        console.log('パスワードが不一致、または登録されていないuserデータです。');
      }
    })

    socket.on('login_flug1',function(flug,name){
      if(flug == 1) {
        window.location.href = '/kaitou?name=' + encodeURIComponent(name);
      }else if(flug == 0){
        item.textContent = 'パスワードが不一致、または登録されていないuserデータです。';
        mondai.appendChild(item);
      }
    })
    
    socket.on('login_flug2',function(flug){
      if(flug == 1) {
        window.location.href = '/hyouji2';
      }else if(flug == 0){
        item.textContent = 'パスワードが不一致、または登録されていないuserデータです。';
        mondai.appendChild(item);
      }
    })

    socket.on('new_flug',function(flug){
      if(flug == 0) {
        console.log('ユーザー名とパスワードが違います。');
      }
      }) 
    </script>
</body>
</html>