<!DOCTYPE html>
<html lang = "ja">
<head>
    <meta charset ="utf-8">
    <title>問題選択</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/style2.css">
</head>
<body>
    <script src="/socket.io/socket.io.js"></script>
    <p><%= name %></p>
    <br>
    <form name ="f1">
        <div class="parent">
        <h1>問題一覧</h1>
        <div class="child">
        <input type ="submit" name="tuika" value="問題追加" style="width:200px;height:80px">
        <br>
        <br>
        <input type="submit" name="kakunin" value="問題確認"style="width:200px;height:80px">
        </div>
        </div>
        <select  name = "mo1" class="cp_sl02" required>
           <% web.forEach((list) => { %>
            <option><%= list.name %></option>
            <% }) %>
        </select>
        <span class="cp_sl02_highlight"></span>
        <span class="cp_sl02_selectbar"></span>
        <label class="cp_sl02_selectlabel">問題を選んでください。</label>
        <br>
        <p>成否判定の仕方を選択してください。</p>
        <br>
        <input type="radio" name = "hantei" value="自動">自動
        <input type="radio" name = "hantei" value="手動">手動
        <br>
        <p>制限時間</p>
          <input id = "time2" type ="text" name="byou" style="width:40px; height: 20px;">
        <br>
        <br>
        <input type ="submit" class ="button" name = "okuru" value="問題を送る">
        <br>
    </form>
    <div class="sumple">
      <p>戻る</p>
    </div>
    <script>
       var socket = io();
       var n = document.forms.f1;
       var s = document.f1.mo1; 
       var flag = false;
       var m = document.f1.hantei;
       var o = 0;
       for(var i = 0;i<m.length;i++){
        if(m[i].checked){
          flag = true;
          o = m[i].value;
        }
       }
       
       n.okuru.addEventListener('click',function(e){
        e.preventDefault();
        for(var i = 0;i<m.length;i++){
        if(m[i].checked){
          flag = true;
          o = m[i].value;
        }
       }
       let element= s.selectedIndex;
        var a = s.options[element].innerText;
        socket.emit('mondai_btnclick',a,o);
       })
      
       n.kakunin.addEventListener('click',function(e){
        e.preventDefault();
        let element= s.selectedIndex;
        var a = s.options[element].innerText;
        window.location.href = "/kakunin?data=" + encodeURIComponent(a);
       })

       n.tuika.addEventListener('click',function(e){
        e.preventDefault();
        window.location.href="/tuika";
       })
       
       

      socket.on('mondai_kekka',function(flag){
        if(flag = 1){
          var w = n.time2.value;
            window.location.href = '/mondai2?byou=' + encodeURIComponent(w);
        }else{
        window.location.href = '/hello'
      }
      }
      )
    </script>
</body>
</html>
