<!DOCTYPE html>
<html>
    <head>
        <title>回答一覧</title>
    </head>
    <body>
        <script src ='/socket.io/socket.io.js'></script>
        <h1>回答一覧</h1>
        <div id = tb1></div>
        <input type="submit" name = "kekka" value="結果発表">
        <script>
            var socket = io();
            var doc1 = document.getElementById('tb1');
            
        </script>
    </body>
</html>