<!DOCTYPE html>
<html lang = "ja">
<head>
    <meta charset ="utf-8">
    <title>問題選択</title>
    <style>
       .parent{
        display:flex;
       }
       h1{
        font-size: 50px;
       }
       .child{
        padding-left:300px;
       }
  .cp_ipselect {
  position: relative;
  width: 30%;
  margin: 2em auto;
  text-align: center;
}
.cp_sl02 {
  position: relative;
  font-family: inherit;
  background-color: transparent;
  width: 50%;
  padding: 10px 10px 10px 0;
  font-size: 18px;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(0,0,0, 0.3);
}
.cp_sl02:focus {
  outline: none;
  border-bottom: 1px solid rgba(0,0,0, 0);
}
.cp_ipselect .cp_sl02 {
  appearance: none;
  -webkit-appearance:none
}
.cp_ipselect select::-ms-expand {
  display: none;
}
.cp_ipselect:after {
  position: absolute;
  top: 18px;
  right: 10px;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.3);
  pointer-events: none;
}
.cp_sl02_selectlabel {
  color: rgba(0,0,0, 0.5);
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 10px;
  transition: 0.2s ease all;
}
.cp_sl02:focus ~ .cp_sl02_selectlabel, .cp_sl02:valid ~ .cp_sl02_selectlabel {
  color: #da3c41;
  top: -20px;
  transition: 0.2s ease all;
  font-size: 14px;
}
.cp_sl02_selectbar {
  position: relative;
  display: block;
  width: 50%;
}
.cp_sl02_selectbar:before, .cp_sl02_selectbar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #da3c41;
  transition: 0.2s ease all;
}
.cp_sl02_selectbar:before {
  left: 30%;
}
.cp_sl02_selectbar:after {
  right: 30%;
}
.cp_sl02:focus ~ .cp_sl06_selectbar:before, .cp_sl06:focus ~ .cp_sl06_selectbar:after {
  width: 30%;
}
.cp_sl02_highlight {
  position: absolute;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
.hun{
  width: 10px;
  height: 10px;
}
.sumple{
  text-align: right;
  font-size: 20px;
}
.button{
  width: 100px;
  height: 50px;
}
    </style>
</head>
<body>
    <script src="/socket.io/socket.io.js"></script>
    <p><%= name %></p>
    <br>
    <form name ="f1">
        <div class="parent">
        <h1>問題一覧</h1>
        <div class="child">
        <input type ="submit" name="tuika" value="問題追加" style="width:200px;height:80px">
        <br>
        <br>
        <input type="submit" name="kakunin" value="問題確認"style="width:200px;height:80px">
        </div>
        </div>
        <select  name = "mo1" class="cp_sl02" required>
           <% web.forEach((list) => { %>
            <option><%= list.name %></option>
            <% }) %>
        </select>
        <span class="cp_sl02_highlight"></span>
        <span class="cp_sl02_selectbar"></span>
        <label class="cp_sl02_selectlabel">問題を選んでください。</label>
        <br>
        <p>成否判定の仕方を選択してください。</p>
        <br>
        <input type="radio" name = "hantei" value="自動">自動
        <input type="radio" name = "hantei" value="手動">手動
        <br>
        <p>制限時間</p>
          <input id = "time2" type ="text" name="byou" style="width:40px; height: 20px;">
        <br>
        <br>
        <input type ="submit" class ="button" name = "okuru" value="問題を送る">
        <br>
    </form>
    <div class="sumple">
      <p>戻る</p>
    </div>
    <script>
       var socket = io();
       var n = document.forms.f1;
       var s = document.f1.mo1; 
       var flag = false;
       var m = document.f1.hantei;
       var o = 0;
       for(var i = 0;i<m.length;i++){
        if(m[i].checked){
          flag = true;
          o = m[i].value;
        }
       }
       
      
       n.okuru.addEventListener('click',function(e){
        e.preventDefault();
        for(var i = 0;i<m.length;i++){
        if(m[i].checked){
          flag = true;
          o = m[i].value;
        }
       }
       let element= s.selectedIndex;
        var a = s.options[element].innerText;
        socket.emit('mondai_btnclick',a,o);
       })
      
       n.kakunin.addEventListener('click',function(e){
        e.preventDefault();
        let element= s.selectedIndex;
        var a = s.options[element].innerText;
        window.location.href = "/kakunin?data=" + encodeURIComponent(a);
       })

       n.tuika.addEventListener('click',function(e){
        e.preventDefault();
        window.location.href="/tuika";
       })
       
       

      socket.on('mondai_kekka',function(flag){
        if(flag = 1){
          var w = n.time2.value;
            window.location.href = '/mondai2?byou=' + encodeURIComponent(w);
        }else{
        window.location.href = '/hello'
      }
      }
      )
    </script>
</body>
</html>
