<!DOCTYPE html>
<html>
    <head>
        <title>追加</title>
        <style>
            .sub{
                text-align: center;
            }
            .button1{
                height: 100px;
                width: 300px;
                font-size: 30px;
            }
            .button2{
                height: 100px;
                width: 300px;
                font-size: 30px;
            }
        </style>
    </head>
    <body>
        <form name = "myform2" class="sub">
        <h1>追加方法を選択してください。</h1>
        <input type="submit" name="fail" value="ファイルで追加" class="button1">
        <br>
        <br>
        <input type="submit" name="user" value="入力で追加" class="button2">
        </form>
    <script>
        var n = document.forms.myform2;

        n.fail.addEventListener('click',function(e){
            e.preventDefault();
            window.location.href='/fail';
        })

        n.user.addEventListener('click',function(e){
            e.preventDefault();
            console.log("手打ちで追加");
        })
    </script>
    </body>
    
</html>